<div style="width: 500px; margin: auto;">
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="name">Identifier</label>
          <input
            type="text"
            class="form-control"
            id="identifier"
            required
            [(ngModel)]="study.identifier"
            name="identifier"
          />
        </div>
  
        <div class="form-group">
          <label for="description">Description</label>
          <input
            class="form-control"
            id="description"
            required
            [(ngModel)]="study.description"
            name="description"
          />
        </div>
  
        <button mat-button (click)="createStudy()">Create</button>
      </div>
  
      <div *ngIf="submitted">
        <h3>You successfully created a product!</h3>
        <button mat-button (click)="newStudy()">New..</button>
      </div>
    </div>
  </div>